<div class="card m-4">
	<div class="card-header">
	  Events
	</div>
	<div class="card-body">
		<div *ngIf="error == ''" class="row">
			<div class="col-4">
				<div *ngIf="eventsDailyChartOptions != null">
					<div echarts [options]="eventsDailyChartOptions"></div>
				</div>
			</div>
			<div class="col-8">
				<div *ngIf="eventsHourlyChartOptions != null">
					<div echarts [options]="eventsHourlyChartOptions"></div>
				</div>
			</div>
		</div>
		<div *ngIf="error != ''">{{error}}</div>
	</div>
</div>